@import '../../../styles/animations';

@import './progress';

.nrr-progress-bar {
  display: flex;

  @include nrr-bar-color(primary);
  @include nrr-bar-color(warn);
  @include nrr-bar-color(danger);

  @include nrr-bar-size(sm);
  @include nrr-bar-size(md);
  @include nrr-bar-size(lg);

  &.indeterminate {
    .nrr-progress-bar-foreground {
      @include nrr-bar-indeterminate();
    }
  }

  svg {
    width: 100%;

    .nrr-progress-bar-background {
      width: 100%;
    }

    .nrr-progress-bar-foreground {
      transition: all $nrr-animation-duration $nrr-animation-timing-function;
    }
  }
}
