@import './footer';

.nrr-footer {
  display: flex;
  height: $nrr-footer-height;
  min-height: $nrr-footer-height;
  font-size: 13px;
  background-color: var(--bg-dark);

  > div {
    display: flex;
    margin: auto 5px;

    > div {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
