.nrr-package {
  display: flex;
  flex-direction: column;

  .nrr-sidenav-container {
    flex: 1;

    .nrr-sidenav {
      width: 80%;
      max-width: 300px;
      padding: 5px;
    }

    .nrr-sidenav-content {
      display: flex;

      .search-btn {
        top: 12px;
        left: 10px;
      }

      .menu-btn {
        top: 12px;
        right: 10px;
      }

      .center-btn {
        right: 10px;
        bottom: 10px;
      }

      .search-btn,
      .menu-btn,
      .center-btn {
        position: absolute;
        z-index: 3;

        &:hover {
          .nrr-icon {
            svg {
              stroke: var(--text-light) !important;
            }
          }
        }
      }
    }
  }
}
