<nrr-sidenav-container>
  <nrr-sidenav
    class="nrr-search-sidenav"
    [(open)]="menus.search"
    mode="over"
  >
    <ng-template nrrSidenavBody>
      <nrr-search-autocomplete
        [value]="searchService.text$ | async"
        [results]="searchService.results$ | async"
        (valueChange)="searchService.find($event)"
      ></nrr-search-autocomplete>
    </ng-template>
  </nrr-sidenav>

  <nrr-sidenav-content>
    <nrr-sidenav-container>
      <nrr-sidenav
        class="nrr-search-sidenav"
        [(open)]="menus.menu"
        mode="over"
        position="end"
      >
        <ng-template nrrSidenavBody>
          <nrr-node-list
            [nodes]="graphService.nodes$ | async"
            [weightBySize]="(settingsService.settings$ | async).weightBySize"
            (nodeSelect)="onListNodeSelect($event)"
          ></nrr-node-list>
        </ng-template>
      </nrr-sidenav>

      <nrr-sidenav-content>
        <nrr-sidenav-container>
          <nrr-sidenav
            [(open)]="menus.settings"
            mode="over"
            position="end"
          >
            <ng-template nrrSidenavBody>
              <nrr-settings
                [settings]="settingsService.settings$ | async"
                (settingsChange)="onSettingsChange($event)"
              ></nrr-settings>
            </ng-template>
          </nrr-sidenav>

          <nrr-sidenav-content>
            <button
              class="search-btn"
              nrr-icon-button
              [nrrBadge]="(searchService.results$ | async).length"
              [nrrBadgeDisabled]="!(searchService.results$ | async).length"
              (click)="toggle('search')"
            >
              <nrr-icon name="search"></nrr-icon>
            </button>

            <button
              class="menu-btn"
              nrr-icon-button
              [nrrBadge]="(graphService.nodes$ | async).length"
              [nrrBadgeDisabled]="!(graphService.nodes$ | async).length"
              nrrBadgePosition="top left"
              (click)="toggle('menu')"
            >
              <nrr-icon name="menu"></nrr-icon>
            </button>

            <button
              class="center-btn"
              nrr-icon-button
              (click)="center()"
            >
              <nrr-icon name="crosshair"></nrr-icon>
            </button>

            <button
              class="settings-btn"
              nrr-icon-button
              (click)="toggle('settings')"
            >
              <nrr-icon name="settings"></nrr-icon>
            </button>

            <button
              class="download-btn"
              nrr-icon-button
              (click)="download()"
            >
              <nrr-icon name="download"></nrr-icon>
            </button>

            <div
              *ngIf="!(packageService.complete$ | async)"
              class="spacer"
            >
              <nrr-progress-bar
                size="lg"
                [value]="packageService.loaded$ | async"
                [total]="packageService.total$ | async"
              ></nrr-progress-bar>
            </div>

            <nrr-graph
              *ngIf="packageService.complete$ | async"
              [(zoom)]="zoom"
              [nodes]="graphService.nodes$ | async"
              [edges]="graphService.edges$ | async"
              (nodesSelect)="onNodesSelect($event)"
            ></nrr-graph>

            <nrr-footer
              [elapseTime]="packageService.elapseTime$ | async"
              [packageVersions]="packageService.packageVersions$ | async"
              [selectedPackageVersions]="packageService.selectedPackageVersions$ | async"
            ></nrr-footer>
          </nrr-sidenav-content>
        </nrr-sidenav-container>
      </nrr-sidenav-content>
    </nrr-sidenav-container>
  </nrr-sidenav-content>
</nrr-sidenav-container>
