<nrr-sidenav-container>
  <nrr-sidenav
    [(open)]="menu"
    (stateChange)="onSidenavStateChange($event)"
  >
    <ng-template nrrSidenavBody>
      <nrr-search-autocomplete
        [value]="searchService.text$ | async"
        [results]="searchService.entities$ | async"
        (valueChange)="searchService.find($event)"
      ></nrr-search-autocomplete>
    </ng-template>
  </nrr-sidenav>

  <nrr-sidenav-content>
    <button
      class="menu-btn"
      nrr-icon-button
      (click)="toggle()"
    >
      <nrr-icon name="menu"></nrr-icon>
    </button>

    <button
      class="center-btn"
      nrr-icon-button
      (click)="center()"
    >
      <nrr-icon name="crosshair"></nrr-icon>
    </button>

    <nrr-graph
      *ngIf="!(packageService.loading$ | async)"
      [elements]="packageService.dependencies$ | async"
      [(zoom)]="zoom"
      (nodeSelect)="onNodeSelect($event)"
    ></nrr-graph>
  </nrr-sidenav-content>
</nrr-sidenav-container>
