@mixin nrr-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin nrr-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nrr-center {
  @include nrr-center;
}

.nrr-ellipsis {
  @include nrr-ellipsis;
}
