.nrr-search-autocomplete {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  max-height: 100%;

  .nrr-form-field {
    width: 100%;
  }

  .nrr-search-autocomplete--results {
    overflow-y: auto;

    .nrr-search-autocomplete--result-link {
      display: block;
      text-decoration: none;

      &:not(:last-child) {
        border-bottom: 1px solid var(--hairline-strong-a15);
      }

      &.active {
        .nrr-list-item-title {
          color: var(--primary);
          text-decoration: underline;
        }
      }
    }
  }
}
