<nrr-form-field>
  <input
    nrr-input
    autofocus
    [formControl]="control"
  />

  <nrr-icon
    nrrSuffix
    name="search"
    stroke="var(--text-light)"
  ></nrr-icon>
</nrr-form-field>

<div
  *ngIf="results.length"
  class="nrr-search-autocomplete--results"
>
  <a
    class="nrr-search-autocomplete--result-link"
    *ngFor="let package of results"
    [routerLink]="['/', package.name]"
    routerLinkActive="active"
  >
    <nrr-list-item>
      <nrr-list-item-title>{{ package.name }}</nrr-list-item-title>
      <nrr-list-item-subtitle>{{ package.description }}</nrr-list-item-subtitle>
      <nrr-list-item-description>{{ package.version }}</nrr-list-item-description>
    </nrr-list-item>
  </a>
</div>
