<nrr-form-field>
  <input
    nrr-input
    autofocus
    [formControl]="control"
  />

  <nrr-icon
    nrrSuffix
    name="search"
    stroke="var(--text-light)"
  ></nrr-icon>
</nrr-form-field>

<div
  *ngIf="results.length"
  class="nrr-search-autocomplete--results"
>
  <a
    class="nrr-search-autocomplete--result-link"
    *ngFor="let package of results"
    [routerLink]="['/', package.name]"
    routerLinkActive="active"
  >
    <nrr-search-item [package]="package"></nrr-search-item>
  </a>
</div>
