@import '../../../styles/utils';

.nrr-search-item {
  display: flex;
  color: var(--text);
  padding: 5px;
  cursor: pointer;

  &:hover {
    .nrr-search-item--name {
      text-decoration: underline;
    }
  }

  .nrr-search-item--header {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 5px;

    @include nrr-ellipsis;

    .nrr-search-item--name {
      color: var(--text-light);
      font-weight: 500;
      margin-bottom: 5px;

      @include nrr-ellipsis;
    }

    .nrr-search-item--description {
      font-size: 10pt;

      @include nrr-ellipsis;
    }
  }

  .nrr-search-item--version {
    margin: auto auto 0 auto;
    font-size: 10pt;
  }
}
