node {
  color: #fff;
  label: data(content);
  text-wrap: wrap;
  text-valign: center;
  font-size: data(fontSize);
  background-color: #008b6e;
}

node[weight] {
  height: data(weight);
  width: data(weight);
}

node[size] {
  background-color: mapData(size, 0, 5120, blue, red);
}

node.highlight {
  background-color: #62efcd;
}

:parent {
  text-valign: top;
  background-opacity: 0.333;
}

edge {
  width: 1px;
  line-color: #62efcd;
  target-arrow-color: #62efcd;
  curve-style: bezier;
  target-arrow-shape: triangle-backcurve;
  arrow-scale: 0.5;
}
